.job-list-container {
    display: flex;
    flex-wrap: wrap;
}

.job-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px #0000003D;
    margin: 24px 24px 0px;
    padding: 16px;
    width: 100%;
}

.job-card-header {
    color: #1F7A54;
    position: relative;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
}

.expiration-text {
    background: #FFE4E6 0% 0% no-repeat padding-box;
    border-radius: 2px;
    position: absolute;
    top: -24px;
    right: 8px;
    color: #D10107;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.job-card-body {
    margin-top: 16px;
}

.job-info {
    color: #666666;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.job-date {
    color: #222222;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.job-location {
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.job-location img {
    height: 11px;
}

.role-name {
    color: #222222;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.special-opportunity {
    display: inline-block;
    background: #EEDD6B 0% 0% no-repeat padding-box;
    border-radius: 9px;
    margin: 16px auto 0px;
    color: #222222;
    padding: 2px 8px;
    letter-spacing: 0.25px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}

.view-details-btn {
    display: block;
    background: #3FD28B 0% 0% no-repeat padding-box;
    border-radius: 2px; 
    box-shadow: 0px 3px 5px #0000003D;
    width: auto;
    cursor: pointer;
    margin: 16px auto 0px;
    padding: 5px 16px;
    text-transform: uppercase;
    color: #25313F;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}