.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2834;
    height: 57px;
}

.logo img {
    padding-left: 15px;
}

.profile-image img {
    height: 40px;
    width: 40px;
    border: 2px solid #3FD28B;
    border-radius: 50%;
    margin-right: 16px;
}

.profile-image {
    position: relative;
}

.dropdown {
    position: absolute;
    right: 15px;
    width: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px #0000003D;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}

.dropdown ul {
    list-style: none;
}

.dropdown li {
    padding: 10px;
}

.dropdown a {
    color: #3FD28B;
    text-decoration: none;
}