.login-page-wrapper {
    display: flex;
    height: calc(100vh - 57px); /* Subtract the height of the navbar */
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-top: 4px solid #3AC7EC;
    margin: auto;
    width: 488px;
    height: auto;
}

.header {
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    margin: 24px auto;
    text-align: center;
}

.form-group {
    position: relative;
    padding: 25px;
}

.form-control {
    width: 100%;
    color: #666666;
    font-size: 16px;
    font-weight: bold;    
    border-bottom: 2px solid rgba(0,0,0,0.12);
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%) scale(0.8);
}

input[type='checkbox'] {
    display: none;
}

.checkbox {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid #1F7A54;
}

input[type='checkbox']:checked+label{
    background-color: #1F7A54;
    position: relative;
}

input[type='checkbox']:checked+label:before{
    content: '';
    border-left: 2.5px solid #FFFFFF;
    border-bottom: 2.5px solid #FFFFFF;
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 5px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: rotate(-45deg) translate(-2%, -113%);
    color: #FFFFFF;
}

.remember-me {
    display: flex;
    padding: 25px;
}

.remember-me p {
    padding-left: 5px;
    font-weight: bold;
}

button {
    background-color: #3FD28B;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display:block;
    color:#1F2834;
    font-weight: bold;
    height: 40px;
    width: 216px;
    margin: 10px auto 25px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .container {
        width: 343px;
    }
}
