.login-page-wrapper {
    display: flex;
    height: calc(100vh - 57px);
    /* Subtract the height of the navbar */
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-top: 4px solid #3AC7EC;
    margin: auto;
    width: 488px;
    height: auto;
}

.header {
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    margin: 24px auto;
    text-align: center;
}

.form-group {
    position: relative;
    padding: 25px;
}

.form-control {
    width: 100%;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%) scale(0.8);
}

.error-message {
    color: red;
    padding: 0px 25px;
    font-size: 14px;
    font-weight: bold;
}

.remember-me {
    display: flex;
    padding: 25px;
}

input[type='checkbox']:after {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #1F7A54;
    border-radius: 2px;
    vertical-align: middle;
}

input[type='checkbox']:checked:after {
    width: 12px;
    height: 12px;
    background-color: #1F7A54;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #1F7A54;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #FFFFFF;
    vertical-align: middle;
}

.checkbox-label {
    margin-left: 8px;
    cursor: pointer;
    vertical-align: middle;
}

button {
    background-color: #3FD28B;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: block;
    color: #1F2834;
    font-weight: bold;
    height: 40px;
    width: 216px;
    margin: 10px auto 25px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .container {
        width: 343px;
    }
}